[submodule "morim3/themes/hello-friend-ng"]
	path = morim3/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "morim3/themes/hugo-theme-zoo"]
	path = morim3/themes/hugo-theme-zoo
	url = https://github.com/zzossig/hugo-theme-zzo
